﻿@model DOANTD.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Auth", new { }, FormMethod.Post, new { @class = "form-validate", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="form">
                <div class="form-group">
                    @Html.TextBoxFor(i => i.Username, new { @class = "form-control", @placeholder = "Username" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(i => i.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(i => i.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(i => i.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(i => i.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.AccountType, "Account Type")
                    @Html.EnumDropDownListFor(i => i.AccountType, new { @class = "form-control" })
                </div>

                <button id="registerBtn" type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </div>
}